
.Box1{
    width: 700px;
    height: 200px;
   background-color: #ff4b4b;
}
.Box2{
    width: 700px;
    height: 200px;
   background-color: #3f3939;
}
.Box3{
    width: 700px;
    height: 200px;
   background-color: #ad8800;
}

.Box4{
    width: 700px;
    height: 200px;
   background-color: #766707;
}

.Box5{
    width: 700px;
    height: 200px;
   background-color: #22ff0050;
}

.Box6{
    width: 700px;
    height: 200px;
   background-color: #178667;
}

.Box7{
    width: 700px;
    height: 200px;
   background-color: #1f7bbe;
}
.Box8{
    width: 700px;
    height: 200px;
   background-color: #1021da;
}